<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.railwayreservation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RailwayReservation">
        <activity
            android:name=".passenger.MakeReservations"
            android:exported="false" />
        <activity
            android:name=".admin.refund.GoRefund"
            android:exported="false" />
        <activity
            android:name=".reportIssue.updates.MessageUI"
            android:exported="false" />
        <activity
            android:name=".reportIssue.HelperInfo"
            android:exported="false" />

        <receiver
            android:name=".admin.announcement.Notify"
            android:enabled="true" />

        <activity
            android:name=".passenger.transactions.ViewPH"
            android:exported="false" />
        <activity
            android:name=".passenger.PassengerDatePicker"
            android:exported="false" />
        <activity
            android:name=".passenger.PassengerFAQ"
            android:exported="false" />
        <activity
            android:name=".passenger.RefundPolicy"
            android:exported="false" />
        <activity
            android:name=".passenger.TicketActivity"
            android:exported="false" />
        <activity
            android:name=".passenger.TicketMenuActivity"
            android:exported="false" />
        <activity
            android:name=".passenger.PlaceYourTicketActivity"
            android:exported="false" />
        <activity
            android:name=".passenger.ConfirmPayment"
            android:exported="false" />
        <activity
            android:name=".admin.announcement.SendAnnouncementActivity"
            android:exported="false" />
        <activity
            android:name=".passenger.PassengerChgPw"
            android:exported="false" />
        <activity
            android:name=".passenger.PassengerTicket"
            android:exported="false" />
        <activity
            android:name=".passenger.PassengerSignup"
            android:exported="false" />
        <activity
            android:name=".passenger.PassengerScreen"
            android:exported="false" />

        <activity
            android:name=".passenger.PassengerPayment"
            android:exported="false" />
        <activity
            android:name=".passenger.PassengerMembership"
            android:exported="false" />
        <activity
            android:name=".passenger.PassengerLogin"
            android:exported="false" />
        <activity
            android:name=".passenger.PassengerHome"
            android:exported="false" />
        <activity
            android:name=".passenger.PassengerCancellation"
            android:exported="false" />
        <activity
            android:name=".passenger.cancellation.MakeCancellation"
            android:exported="false" />
        <activity
            android:name=".passenger.reservation.ViewReservation"
            android:exported="false" />
        <activity
            android:name=".passenger.PassengerAccount"
            android:exported="false" />
        <activity
            android:name=".passengerTrain.TrainMainActivity"
            android:exported="true" />
        <activity
            android:name=".passenger.TrainRouteImage"
            android:exported="true" />
        <activity
            android:name=".passenger.SeatPlanImage"
            android:exported="true" />
        <activity
            android:name=".reportIssue.ReportIssue"
            android:exported="false" />
        <activity
            android:name=".admin.refund.MakeRefund"
            android:exported="false" />
        <activity
            android:name=".admin.AdminLogin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>